<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Ristorante Con Fusion: Menu</title>

	<!-- build:css styles/main.css -->
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="styles/bootstrap-social.css" rel="stylesheet">
	<link href="styles/mystyles.css" rel="stylesheet">
	<!-- endbuild -->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="MenuController">
            <div class="col-xs-12">

				<ul class="nav nav-tabs">
					<li ng-class="{active: isSelected(1)}"><a href="#" role="tab" aria-controls="all menu" ng-click="select(1)">The Menu</a></li>
					<li ng-class="{active: isSelected(2)}"><a href="#" role="tab" aria-controls="appetizers" ng-click="select(2)">Appetizers</a></li>
					<li ng-class="{active: isSelected(3)}"><a href="#" role="tab" aria-controls="mains" ng-click="select(3)">Mains</a></li>
					<li ng-class="{active: isSelected(4)}"><a href="#" role="tab" aria-controls="desserts" ng-click="select(4)">Desserts</a></li>
					<li class="pull-right"><button class="btn btn-primary" ng-click="toggleDetails()">{{ showDetails ? 'Hide Details' : 'Show Details' }}</button></li>
				</ul>

				<div class="tab-content">
					<ul class="media-list tab-pane fade in active">
						<li class="media" ng-repeat="dish in dishes | filter: {category: filtText}">
							<div class="media-left media-middle">
								<a href="#">
									<img ng-src="{{ dish.image }}" alt="" class="media-object img-thumbnail"/>
								</a>
							</div>

							<div class="media-body">
								<h2 class="media-heading">
									{{ dish.name }}
									<span class="label label-danger">{{ dish.label }}</span>
									<span class="badge">{{ dish.price | currency }}</span>
								</h2>

								<p ng-show="showDetails">{{ dish.description }}</p>
							</div>
						</li>
					</ul>
				</div>
            </div>
        </div>
    </div>

	<!-- build:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<!-- endbuild -->

</body>
</html>
