* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
  background-color: #21222A;
}

.navbar-title {
  color: #DEEBF8;
  font-weight: 600;
  font-size: 16px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 27px;
  height: auto;
  margin-right: 8px;
}

.logo-title {
  color: #61DAFB;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
/* / navbar */

/* main */
.main {
  flex-grow: 1;
  min-height: 100%;
  padding: 57px 27px;
  color: white;
  background-color: #282D35;
  background-image: url("./images/react-logo-bg.svg");
  background-position: right -150px top 180px;
  background-repeat: no-repeat;
  background-size: 300px;
}

.main-title {
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-facts {
  margin-top: 46px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 400;
}

.main-facts > li {
  padding-block: 10px;
}

.main-facts > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}
/* / main */
