@tailwind base;
@tailwind components;
@tailwind utilities;

.red {
  color: red;
}

.green {
  color: green;
}

.dark-theme {
  background-color: #333;
  color: #ddd;
}

.light-theme {
  background-color: #ddd;
  color: #333;
}
