body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: whitesmoke;
}

.container {
  max-width: 550px;
}

.header--wrapper {
  padding: 20px;
  color: white;
  background: linear-gradient(90deg, #672280 0, #A626D3 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header--logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--logo {
  margin-right: 7px;
  width: 31px;
}

.header--title {
  font-size: 20px;
  font-weight: 700;
}

.header--subtitle {
  font-size: 16px;
  font-weight: 500;
}

.generator--wrapper {
  padding: 36px;
}

.generator {
  max-width: 550px;
  margin: 0 auto;
}

.generator--inputs-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.generator--input {
  width: 100%;
  padding: 10px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
}

.generator--button {
  margin-bottom: 36px;
  padding: 10px;
  width: 100%;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(90deg, #672280 0, #A626D3 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generator--meme-wrapper {
  position: relative;
}

.generator--meme-image {
  width: 100%;
}

.generator--meme-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: Impact, sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -2px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.generator--meme-text_top {
  top: 16px;
}

.generator--meme-text_bottom {
  bottom: 16px;
}


/* card */

* {
  box-sizing: border-box;
}

.card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card--image {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card--name {
  margin-block: 13px;
  color: #333333;
}

.card--info {
  padding: 10px;
}

.card--favorite {
  font-size: 32px;
  cursor: pointer;
}

.card--contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

/* counter */
.counter {
  display: flex;
  align-items: flex-end;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #D9D9D9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #D9D9D9;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
}

/* boxes */
.box {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid black;
}

input[type=text], textarea {
  margin-bottom: 15px;
  min-height: 30px;
  padding: 5px;
  min-width: 250px;
  font-family: "Karla", sans-serif;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

/* sign up form */
