extends layout

block content

	.container
		h1 About us
		p Я веб-разработчик, который три года работал подмастерьем в разных компаниях Белгорода и Москвы. Скоро я буду готов сам делать веб-проекты, потому что почти освоил все составляющие современного веба.